@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/Oswald-Regular.ttf");
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@900&display=swap');


@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/Oswald-ExtraLight.ttf");
    font-weight: 200;
}

h1 {
    color:blue;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

body {
    background-image: url(/img/pattern.png);
    font-family: 'Roboto', sans-serif;
}

.login-div {
    display: inline-block;
    padding: 15px;
    box-shadow: 0 0 5px;
}

.login-div input {
    padding: 3px;
    display: block;
    margin-bottom: 7px;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0;
    border: none;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    color:blue;
}

#menu a {
    text-decoration: none;
    background-color: darkgrey;
    color: black;
    padding: 1% 0.5%;
}

#menu {
    list-style-type: none;
    padding: 1%;
    margin: 0;
}

#menu li {
    display: inline;
}

#menu a:hover {
    background-color: #997a7a
}