@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/Oswald-Regular.ttf");
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Titillium+Web:wght@900&display=swap');


@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/Oswald-ExtraLight.ttf");
    font-weight: 200;
}

body {
    background-image: url(/img/pattern.png);
}

h1 {
    color:blue;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

#bio-header {
    color: brown;
}

#skills-header {
    color:red;
}

.content {
    color: grey;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    line-height: normal;
    font-weight: lighter;
    text-transform: none;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: lightblue;
}

.light {
    background-color: aliceblue;
}

img {
    width: 22.7%;
    box-shadow: 3px 3px 7px black;
    margin: 1%;
}
#menu a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: darkgrey;
    color: black;
    padding: 1% 1%;
}

#menu {
    list-style-type: none;
    padding: 1%;
    margin: 0;
}

#menu li {
    display: inline;
}

#menu a:hover {
    background-color: #997a7a
}